@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Noto Sans Mono", system-ui, "Iosevka Web",
    "Atkinson Hyperlegible", Inter, sans-serif;

  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background: #1f1f28;
  --color-light: #dcd7ba;
  --color-primary: #ff5d62;
  --color-dark: #181820;
}

h1 {
  font-family: "Noto Sans Mono", system-ui, sans-serif;
  @apply text-3xl 2xl:text-5xl font-bold text-[var(--color-primary)] hover:text-[var(--color-light)] transition;
}
h1:hover {
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: var(--primary, var(--color-primary));
}
p {
  font-family: "Atkinson Hyperlegible", system-ui, sans-serif;
  @apply text-xl md:text-lg 2xl:text-2xl text-[var(--color-light)];
}
